* {
    padding: 0;
    margin: 0;
    outline: solid 1px red;
}

.contenedor {
    display: flex;
    padding: 50px 150px;
}

/* Columnas principales */
.contenedor-columnas {
    flex: 1;
}

.fila {
    display: flex;
    padding: 10px;
}

.columna-uno {
    flex: 2;
}

.columna-dos {
    flex: 1;
    padding-left: 10px;
}

.elemento {
    background-color: gray;
}

.uno {
    height: 200px;
    margin-bottom: 15px;
}

.dos {
    height: 100px;
}

.tres {
    height: 150px;
    margin-bottom: 15px;
}

.cuatro {
    height: 150px;
}

.cinco {
    height: 300px;
    width: 180px;
}

.seis {
    margin-left: 10px;
    margin-top: 10px;
    height: 135px;
    width: 325px;
}

.siete {
    height: 135px;
    width: 325px;
    margin-left: 10px;
    margin-top: 10px;
}
